
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --primary-color: #0E4BF1;
    --dashboard-color: #fff;
    --panel-color: hsl(234, 41%, 13%);
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #98c8fc;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    --white-color: #fff;
    --third-gradient: linear-gradient(90deg,
                    hsl(15, 70%, 40%) 0%,
                    hsl(20, 62%, 60%) 100%);
    --second-font: "Montserrat", sans-serif;
    --font-medium: 500;
    --bs-success-rgb: 104, 207, 41;
    --bs-danger-rgb: 255, 76, 65;

    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.change-theme{
  font-size: 1.25rem;
  color: var(--black-light-color);
  transition: color .4s;
  cursor: pointer;
  
}

body.dark-theme{
  --dashboard-color: #060b22;
  --text-color: #fff;
  --black-light-color: #8f8e8e;
  --border-color: #08123d;
  --panel-color: hsl(193, 47%, 4%);
  --box1-color: #f7f7f7;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  z-index: 100;
  transition: all 0.5s ease;
}


nav.logo-name{
  display: flex;
  align-items: center;
}

nav.close {
  width: 73px;
}

nav .logo-name{
  display: flex;
  align-items: center;
}

nav .logo-image{
  display: flex;
  justify-content: center;
  min-width: 45px;
}

nav .logo-image img{
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

nav .logo-name .nav__logo{
  color: var(--white-color);
  font-family: var(--second-font);
  font-weight: 600;
  transition: color .4s;
  text-decoration: none;
}

.nav__logo span{
  background: var(--third-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
}

nav.close .nav__logo {
  opacity: 0;
  pointer-events: none;
}

nav .menu-items{
  margin-top: 40px;
  height: calc(100%-90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-items li{
  list-style: none;
}

.menu-items li a{
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}

.menu-items li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: var(--black-light-color);
  transition: var(--tran-05);
}

nav.close li a .link_name{
  opacity: 0;
  pointer-events: none;

}

nav .nav-links::-webkit-scrollbar {
  display: none;
}

nav .nav-links li {
  position: relative;
  margin: 20px 0px 20px 0;
  list-style: none;
  transition: all 0.4s ease;
}

nav .nav-links li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 55px;
  background-color: #fff;
  border-radius: 0 20px 20px 0;
  opacity: 0;
  transition: all 0.4s ease;
}

nav .nav-links li:hover::before {
  opacity: 1;
}

nav .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.close .nav-links li .iocn-link {
  display: block;
}

nav .nav-links li i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
  cursor: pointer;
  transition: all 0.4s ease;
}

nav .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

nav.close .nav-links i.arrow {
  display: none;
}

nav .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.menu-items li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: var(--black-light-color);
  transition: var(--tran-05);
}

nav.close li a .link_name{
  opacity: 0;
  pointer-events: none;

}

nav .nav-links li .sub-menu {
  padding: 6px 10px 30px 80px;
  background: var(--panel-color);
  display: none;
}

nav .nav-links li.showMenu .sub-menu {
  display: block;
}

nav .nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

nav .nav-links li .sub-menu a:hover {
  opacity: 1;
}

nav.close .nav-links li .sub-menu {
  position: absolute;
  left: 2.8rem;
  top: -10px;
  margin-top: 0;
  padding: 5px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0.3s;
}

nav.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

nav .nav-links li .sub-menu .link_name {
  display: none;
}

nav.close .nav-links li .sub-menu .link_name {
  font-size: 17px;
  opacity: 1;
  display: block;
}

nav .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

nav .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

nav .nav-links li:hover i {
  color: #fff;
}

/*** icon ***/
nav .nav-links li:nth-child(1):hover i {
  color: #ff6039;
}

nav .nav-links li:nth-child(2):hover i {
  color: #2fc1ff;
}

nav .nav-links li:nth-child(3):hover i {
  color: #842bfc;
}

nav .nav-links li:nth-child(4):hover i {
  color: #97ff2f;
}

nav .nav-links li:nth-child(5):hover i {
  color: #f53d75;
}

nav .nav-links li:nth-child(6):hover i {
  color: #fff;
}

nav .nav-links li:nth-child(7):hover i {
  color: #ff992f;
}

/****   text  *****/
nav .nav-links li:nth-child(1):hover a .link_name {
  color: #ff6039;
}

nav .nav-links li:nth-child(2):hover a .link_name {
  color: #2fc1ff;
}

nav .nav-links li:nth-child(3):hover a .link_name {
  color: #842bfc;
}

nav .nav-links li:nth-child(4):hover a .link_name {
  color: #97ff2f;
}

nav .nav-links li:nth-child(5):hover a .link_name {
  color: #f53d75;
}

nav .nav-links li:nth-child(6):hover a .link_name {
  color: #fff;
}

nav .nav-links li:nth-child(7):hover a .link_name {
  color: #ff992f;
}

/***  line ***/
nav .nav-links li:nth-child(1):before {
  background: #ff6039;
}

nav .nav-links li:nth-child(2):before {
  background: #2fc1ff;
}

nav .nav-links li:nth-child(3):before {
  background: #842bfc;
}

nav .nav-links li:nth-child(4):before {
  background: #97ff2f;
}

nav .nav-links li:nth-child(5):before {
  background: #f53d75;
}

nav .nav-links li:nth-child(6):before {
  background: #fff;
}

nav .nav-links li:nth-child(7):before {
  background: #ff992f;
}

/*** bg ***/

nav .nav-links li:nth-child(1):hover {
  background: linear-gradient(288deg,
      rgb(255 0 0 / 0%) 4%,
      rgb(255, 96, 57, 0.19));
}

nav .nav-links li:nth-child(2):hover {
  background: linear-gradient(288deg,
      rgb(255 0 0 / 0%) 4%,
      rgb(47, 193, 255, 0.19));
}

nav .nav-links li:nth-child(3):hover {
  background: linear-gradient(288deg,
      rgb(255 0 0 / 0%) 4%,
      rgb(132, 43, 252, 0.19));
}

nav .nav-links li:nth-child(4):hover {
  background: linear-gradient(288deg,
      rgb(255 0 0 / 0%) 4%,
      rgba(151, 255, 47, 0.19));
}

nav .nav-links li:nth-child(5):hover {
  background: linear-gradient(288deg,
      rgb(255 0 0 / 0%) 4%,
      rgba(245, 61, 116, 0.19));
}

nav .nav-links li:nth-child(6):hover {
  background: linear-gradient(288deg,
      rgb(255 0 0 / 0%) 4%,
      rgba(255, 255, 255, 0.19));
}

nav .nav-links li:nth-child(7):hover {
  background: linear-gradient(288deg,
      rgb(255 0 0 / 0%) 4%,
      rgba(255, 154, 47, 0.19));
}

.profile-info {
  align-items: center;
  cursor: pointer;
  background-color: var(--dashboard-color);
  border: none;
  display: flex;
  padding-right: 50px;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info .name{
  font-size: 16px;
  color: var(--text-color);
  font-weight: 600;
}

.profile-info .role{
  display: block;
  font-size: 13px;
  color: #89879f;
  font-weight: 400;
  line-height: 1.2;
}

/* Agregamos estilos para el modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-contenido {
  background-color: var(--dashboard-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--border-color);
  width: 80%;
  animation: fadeIn 0.5s ease-in-out;
  color: var(--text-color);
}

/* The Close Button */
.cerrar {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Ajustamos los estilos del dropdown-content para que se vea bien dentro del modal */
.dropdown-content {
  padding: 0;
  min-width: 100%;
  box-shadow: none;
  border-radius: 0;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item {
  pointer-events: auto;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #ddd;
  color: #fc5130;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.text-primary {
  --bs-text-opacity: 1;
  color: #fc5130; }

.text-success {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important; }

.text-danger {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-danger-rgb), var(--bs-text-opacity)) !important; }

.ms-2 {
  margin-left: 0.5rem !important;
}

.profile-info:hover .dropdown-content {
  display: block;
}

.dashboard{
  position: relative;
  left: 250px;
  background-color: var(--dashboard-color);
  height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--tran-05);
}

nav.close ~ .dashboard{
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top{
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: var(--dashboard-color);
  transition: var(--tran-05);
}

nav.close ~ .dashboard .top{
  left: 73px;
  width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle{
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}

.dashboard .top .search-box{
  position: relative;
  height: 45px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
}

.top .search-box input{
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--dashboard-color);
  padding: 0 25px 0 50px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  outline: none;
}

.top .search-box i{
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-light-color);
}

.search-results-container {
  position: absolute;
  top: 45px;
  width: 100%;
  background-color: var(--dashboard-color);
  border: 1px solid var(--border-color);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.search-results-container .result-item {
  padding: 10px;
  cursor: pointer;
  color: var(--text-color);
}

.search-results-container .result-item:hover {
  background-color: #ddd;
  color: var(--black-light-color);
}

.top img{
  width: 40px;
  border-radius: 50%;
}

.body-dashboard{
  text-align: center;
}

.body-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-top: 60px;
  width: 100%;
}

.iframe-container {
  
  height: calc(100% - 80px); /* Define la altura del contenedor */
  width: 100%; /* Define la anchura del contenedor */
  margin-top: 55px; /* Ajusta la posición del contenedor */
  padding: 0; /* Elimina el padding del contenedor */
  overflow: hidden; /* Oculta el contenido que se desborda */
  background-color: transparent;
  
}

iframe {
  
  height: 100%; /* Define la altura del iframe */
  width: 100%; /* Define la anchura del iframe */
  border: 0px; /* Elimina el borde del iframe */
  
}

.iframe-container iframe{
  z-index: 1;
}

.modal-contenido1 {
  background-color: var(--dashboard-color);
  margin: 5% auto; /* Ajusta el margen superior e inferior */
  padding: 20px;
  border: 1px solid var(--border-color);
  width: 35%; /* Ajusta el ancho del modal */
  color: var(--text-color);
}

.modal-contenido2 {
  background-color: var(--dashboard-color);
  margin: 5% auto; /* Ajusta el margen superior e inferior */
  padding: 20px;
  border: 1px solid var(--border-color);
  width: 35%; /* Ajusta el ancho del modal */
  color: var(--text-color);
}

.modo-oscuro {
  padding-top: 35px;
  display: flex;
  justify-content: space-between; /* Asegura que el texto y el ícono estén en extremos opuestos */
  align-items: center;
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.perfil-datos {
  padding-top: 35px;
  display: flex;
  align-items: center;
}

.perfil-datos .profile-datos-img img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.modo-oscuro i {
  margin-left: auto; /* Empuja el ícono hacia el lado opuesto del texto */
}

.modal-contenido h2 {
  margin-bottom: 100px; /* Ajusta este valor para el espacio deseado */
}

.Salir{
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 400px) {
  nav {
    width: 240px;
  }

  nav.close {
    width: 78px;
  }

  nav .profile-details {
    width: 240px;
  }

  nav.close .profile-details {
    background: none;
  }

  nav.close .profile-details {
    width: 78px;
  }

  .home-section {
    left: 240px;
    width: calc(100% - 240px);
  }

  nav.close~.home-section {
    left: 78px;
    width: calc(100% - 78px);
  }
}